export DB_NAME=vagrant
export DB_USER=vagrant
export DB_PASSWORD=vagrant
export PROJECT=/data/wordpress
export HTDOCS=$PROJECT/htdocs
export WEB_ROOT=$HTDOCS
export WP_CORE=$HTDOCS/wordpress
export WP_CONTENT=$HTDOCS/wp-content