# Just some helpers to make this look like the production environment
export DB_NAME=vagrant
export DB_USER=vagrant
export DB_PASSWORD=vagrant
export DATA_ROOT=/data
export WP_PROJECT=/data/wordpress
export WEB_ROOT=/data/wordpress/htdocs
export WP_CORE=/data/wordpress/htdocs/wordpress
export WP_CONTENT=/data/wordpress/htdocs/wp-content
export WP_ENV=development
export LIST_CONTAINER_ENVS=CONTAINER%WP_USER%WP_USER_UID%WP_ENV%DB_USER%DB_NAME%DB_PORT%DB_HOST%DB_PASSWORD%HTTPS_DOMAIN_ALIAS%AUTH_KEY%SECURE_AUTH_KEY%LOGGED_IN_KEY%NONCE_KEY%AUTH_SALT%SECURE_AUTH_SALT%LOGGED_IN_SALT%NONCE_SALT%DB_HOSTS
