<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<!-- See avahi.service(5) for more information about this configuration file -->
<!-- NOTE! This file has been copied from our other repository. -->

<service-group>

  <name replace-wildcards="yes">WordPress at %h</name>

  <service>
    <type>_http._tcp</type>
    <port>80</port>
    <domain-name>local</domain-name>
    <host-name>wordpress.local</host-name>
  </service>

  <service>
    <type>_https._tcp</type>
    <port>443</port>
    <domain-name>local</domain-name>
    <host-name>wordpress.local</host-name>
  </service>

</service-group>
