;;;;;;;;;;;;;;;;;;;;;
; FPM Configuration ;
;;;;;;;;;;;;;;;;;;;;;

pid = /var/run/php7-fpm/php7-fpm.pid
error_log = /data/log/php-error.log
log_level = warning
daemonize = no

[www]
user = {{ web_user }}
group = {{ web_user }}

listen = /var/run/php7-fpm/php7-fpm.sock
listen.owner = {{ web_user }}
listen.group = {{ web_user }}
listen.mode = 0660

pm = dynamic
pm.max_children = 25
pm.start_servers = 1
pm.min_spare_servers = 1
pm.max_spare_servers = 5

; Slow log configuration for debug
;slowlog = /data/log/php-slow.log
;request_slowlog_timeout = 10s
