# php5-fpm - The PHP FastCGI Process Manager

description "The PHP FastCGI Process Manager"
author "Antti Kuosmanen <antti@seravo.fi>"

start on runlevel [2345]
stop on runlevel [016]

# you can uncomment this with recent upstart
# reload signal USR2

pre-start script
  mkdir -p -m 0775 /var/run/php5-fpm
  chown {{ web_user }}:{{ web_user }} /var/run/php5-fpm
  exec /usr/sbin/php-fpm5.6 -t --fpm-config /etc/php/5.6/fpm/php-fpm.conf
end script

respawn
exec /usr/sbin/php-fpm5.6 --nodaemonize --fpm-config /etc/php/5.6/fpm/php-fpm.conf
