##
# Webgrind for debugging
##

server {
  # listen any domain starting with 'webgrind.'
  listen 80;
  listen 443 ssl;
  server_name webgrind.*;

  # Document root is located at /data/wordpress/htdocs/
  root /var/www/webgrind;

  index index.php;

  # Disable stupid error log lines when there's no favicon
  log_not_found off;

  #PHP5-FPM/HHVM for php/hack files
  location ~ \.(php|hh)$ {
    try_files $uri =404;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_pass unix:/var/run/php5-fpm/php5-fpm.sock;
  }
}
